.wrapper {
    position: relative;
}

.poster {
    height: auto;
}

.poster img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.separator {
    height: 150px;
    width: 100%;
    background: rgb(0, 191, 255);
    background: linear-gradient(0deg, rgba(0, 191, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);

    position: absolute;
    bottom: 0;
}
