.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: black;
    color: white;

    padding: 60px 30px;
}

.wrapper h2 {
    width: 100%;
    margin-bottom: 20px;
    font-size: 44px;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative ;

    margin: 1rem;
}

.picture img {
    width: 190px;
    height: 250px;
}

.name {
    width: 100%;

    padding:  20px 1rem 10px 1rem;
    font-size: 16px;

    background: rgb(205,0,191);
    background: linear-gradient(0deg, rgba(205,0,191,1) 56%, rgba(255,255,255,0) 100%);
    color: white;

    position: absolute;
    bottom: 0;
}

@media (max-width:503px) {
    .wrapper {
        padding: 30px 10px;
    }
    .picture img {
        width: 120px;
        height: 150px;
    }
    .name {
        font-size: 14px;
    }
}