:root {
  --max-width: 1920px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  
  --font-montserrat: 'Montserrat', sans-serif;
  
  --body-background: #ffffff;

  /* Colors */
  --color-pink: #cd00bf;
  --color-blue: #00bfff;

  /* Typography */
  --body-text-bold: 700;
  --body-text-regular: 500;
  --body-font-size-small: 14px;
  --body-font-size-medium: 16px;
  --body-font-size-large: 18px;
  --body-line-height: 24px;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
  
html,
body {
  max-width: var(--max-width);
  overflow-x: hidden;
  margin: 0 auto;

  background-color: var(--body-background);
  color: var(--primary-color-blue-dark);
}
