.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: var(--color-blue);

    color: white;
}

.links {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 20%;

    padding-right: 20px;
}

.links a {
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.links a:hover {
    box-shadow: 0px 0px 20px 4px var(--color-pink);
}