.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;

  padding: 40px 60px;
  position: relative;

  scroll-margin: 50px;
}

.wrapper h1 {
  font-size: 36px;
  color: rgb(119, 145, 90);
}
.sheet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  column-gap: 25px;

  max-height: 280px;
  width: fit-content;
}

.picture {
  position: absolute;
  bottom: -130px;
  right: -40px;
  width: 620px;
}

.picture img {
  width: 100%;
  height: auto;
}

.thanks {
  font-size: 24px;
  color: rgb(245, 115, 137);
  width: fit-content;
}

@media(max-width: 940px){
  .thanks {
    font-size: 20px;
    max-width: 350px;
  }
}
@media (max-width: 900px) {
  .picture {
    width: 450px;
    bottom: -90px;
  }
}

@media (max-width: 665px) {
  .picture {
    width: 300px;
    bottom: -60px;
  }
}

@media (max-width: 550px) {
  .picture {
    width: 150px;
    top: -90px;
    left: 180px;
  }
  .wrapper {
    padding: 20px 20px;
  }
  .thanks {
    max-width: 100%;
  }
}